{% extends 'index.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block main %}
    <section class="max-w-8xl m-auto mt-12 px-3">
        <h1 class="text-3xl font-semibold mb-4">Inscription</h1>

        {{ form_errors(registrationForm) }}

        {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.name, {
                label: 'Nom'
            }) }}
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.plainPassword, {
                label: 'Mot de passe'
            }) }}

            <button type="submit" class="btn">M'inscrire</button>
        {{ form_end(registrationForm) }}
    </section>
    
{% endblock %}
