{% extends 'index.html.twig' %}

{% block title %}Ajouter un Accessoire{% endblock %}

{% block main %}
<section class="max-w-8xl m-auto px-3 py-12 bg-gray-900 h-screen text-gray-100">
    <div class="mb-10 text-center">
        <h1 class="text-4xl font-bold text-gray-200">Ajouter un nouvel accessoire</h1>
        <p class="text-lg text-gray-400 mt-3">Remplissez les informations ci-dessous pour ajouter un accessoire.</p>
    </div>

    <div class="max-w-4xl mx-auto bg-gray-800 p-6 rounded-lg shadow-md">
        <form action="{{ path('app_accessory_new') }}" method="POST">
            {{ form_start(form, { 'attr': {'class': 'space-y-6'} }) }}

            <div>
                <label for="accessory_name" class="block text-sm font-medium text-gray-200">Nom de l'Accessoire</label>
                {{ form_widget(form.name, { 'attr': {'class': 'mt-1 block w-full bg-gray-700 border border-gray-600 rounded-md text-gray-200 focus:ring-blue-500 focus:border-blue-500'} }) }}
                {{ form_errors(form.name) }}
            </div>

            <div class="flex justify-end mt-6">
                <button type="submit" class="px-4 py-2 bg-blue-500 text-white rounded-md hover:bg-blue-600 transition-colors">
                    Ajouter
                </button>
            </div>

            {{ form_end(form) }}
        </form>
    </div>
</section>
{% endblock %}
