{% extends 'base.html.twig' %}

{% block title %}Kit{% endblock %}

{% block body %}
    <h1>Kit</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ kit.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ kit.name }}</td>
            </tr>
            <tr>
                <th>Accessory</th>
                <td>{{ kit.accessory ? kit.accessory|json_encode : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_kit_index') }}">back to list</a>

    <a href="{{ path('app_kit_edit', {'id': kit.id}) }}">edit</a>

    {{ include('kit/_delete_form.html.twig') }}
{% endblock %}
