{% extends "index.html.twig" %}

{% block title %}Fournisseur: {{ supplier.getLabel }}{% endblock %}

{% block main %}
<section class="max-w-8xl m-auto px-3 py-12">
    <div class="w-full flex justify-between items-center">
        <h1 class="text-3xl font-semibold mb-4">Fournisseur: {{ supplier.getLabel }}</h1>
        <div class="flex items-center gap-4">
            <a href="{{ path('supplier_edit', { id: supplier.id }) }}" class="px-2 py-1 border-2 border-blue-600 rounded font-medium text-blue-600 hover:bg-blue-600 hover:text-white">Modifier</a>
            {% include "supplier/_delete_form.html.twig" %}
        </div>
    </div>

    <div class="bg-white p-6 shadow-md rounded-lg">
        <div class="mb-4">
            <h2 class="text-xl font-semibold">Détails du fournisseur</h2>
        </div>
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
            <div>
                <label class="block text-sm font-medium text-gray-700">Nom :</label>
                <p class="mt-1 text-gray-800">{{ supplier.getLabel }}</p>
            </div>
            <div>
                <label class="block text-sm font-medium text-gray-700">Date d'ajout :</label>
                <p class="mt-1 text-gray-800">{{ supplier.getCreatedAt|date('d/m/Y') }}</p>
            </div>
            <div class="mt-6">
                <a href="{{ path('vehicle_index', { id: supplier.id }) }}" class="px-4 py-2 border-2 border-blue-500 rounded font-medium text-blue-500 hover:bg-blue-500 hover:text-white">
                    Voir les véhicules associés
                </a>
            </div>
        </div>
    </div>

</section>
{% endblock %}
