<header class="w-full px-3 py-4 bg-white border-b sticky top-0 left-0 z-20">
	<nav class="max-w-8xl m-auto flex items-center justify-between">
		<div class="flex items-center gap-5">
			<a href="/">
				<p class="font-sans text-2xl font-semibold sm:text-3xl">Flexi<span class="text-red-600">Fleet</span>
				</p>
			</a>

			<ul class="hidden xl:flex xl:items-center xl:gap-8 text-gray-500">
				<li class="{{ app.current_route == 'dashboard' ? 'font-medium text-gray-800' : 'hover:text-gray-800 hover:font-medium' }}"><a href="{{ path('dashboard') }}">Dashboard</a></li>
				<li class="{{ app.current_route == 'admin' ? 'font-medium text-gray-800' : 'hover:text-gray-800 hover:font-medium' }}"><a href="{{ path('admin') }}">Admin</a></li>
				<li class="{{ app.current_route == 'user_index' ? 'font-medium text-gray-800' : 'hover:text-gray-800 hover:font-medium' }}"><a href="{{ path('user_index') }}">Utilisateur</a></li>
				<li class="{{ app.current_route == 'agency_index' ? 'font-medium text-gray-800' : 'hover:text-gray-800 hover:font-medium' }}"><a href="{{ path('agency_index') }}">Agence</a></li>
				<li class="{{ app.current_route == 'vehicle_index' ? 'font-medium text-gray-800' : 'hover:text-gray-800 hover:font-medium' }}"><a href="{{ path('vehicle_index') }}">Vehicule</a></li>
				<li class="{{ app.current_route == 'supplier_index' ? 'font-medium text-gray-800' : 'hover:text-gray-800 hover:font-medium' }}"><a href="{{ path('supplier_index') }}">Fournisseur</a></li>
				<li class="{{ app.current_route == 'app_location_index' ? 'font-medium text-gray-800' : 'hover:text-gray-800 hover:font-medium' }}"><a href="{{ path('app_location_index') }}">Commandes</a></li>

			</ul>
		</div>


		<div id="burger-menu" class="xl:hidden w-7 h-4">
			<div class="stripes w-full h-full relative">
				<span class="h-[3px] inline-block w-full bg-red-600 rounded absolute top-0 transition-all"></span>
				<span class="h-[3px] inline-block w-full bg-red-600 rounded absolute top-1/2 transition-all"></span>
				<span class="h-[3px] inline-block w-full bg-red-600 rounded absolute top-full transition-all"></span>
			</div>
		</div>
		<ul class="hidden xl:flex xl:gap-3">
			{% if app.user is defined and app.user is not null %}
                <li class="px-2 py-1 border-2 border-blue-600 rounded font-medium">
                    <a href="{{ path('user_profile') }}">Mon profil</a>
                </li>
				<li class="px-2 py-1 border-2 border-red-600 rounded font-medium"><a href="{{ path('app_logout') }}">Déconnexion</a></li>
			{% else %}
				<li class="px-2 py-1 bg-red-600 rounded text-white font-medium"><a href="{{ path('app_register') }}">Inscription</a></li>
            	<li class="px-2 py-1 border-2 border-red-600 rounded font-medium"><a href="{{ path('app_login') }}">Connexion</a></li>
			{% endif %}

        </ul>
	</nav>
    <div id="mobile-log-links" class="w-44 hidden xl:hidden absolute right-3 top-14 border rounded px-3 py-1 bg-white">
        <ul class="flex flex-col">

			<div class="flex flex-col gap-2 py-2 border-b">
				<li><a href="{{ path('dashboard') }}">Accueil</a></li>
				<li><a href="{{ path('admin') }}">Admin</a></li>
				<li><a href="{{ path('user_index') }}">Utilisateur</a></li>
				<li><a href="{{ path('agency_index') }}">Agence</a></li>
				<li><a href="{{ path('vehicle_index') }}">Vehicle</a></li>
				<li><a href="{{ path('supplier_index') }}">Fournisseur</a></li>
				<li><a href="{{ path('app_location_index') }}">Commandes</a></li>
			</div>

			<div class="flex flex-col gap-2 py-2">
				{% if app.user is defined and app.user is not null %}
					<li><a href="{{ path('app_logout') }}">Déconnexion</a></li>
				{% else %}
					<li><a href="{{ path('app_register') }}">Inscription</a></li>
					<li><a href="{{ path('app_login') }}">Connexion</a></li>
				{% endif %}


			</div>

        </ul>
    </div>
</header>
